@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: gradientBG 10s ease infinite;
    animation: gradientBG 10s ease infinite;
}

@-webkit-keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#h1-home {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); */
    z-index: -1;
}

#navbar {
    background-color: transparent;
    position: fixed;
    width: 100%;
    display: block;
    transition: top 0.3s;
}

a {
    text-decoration: none !important;
    transition: all .5s linear;
}

a:hover {
    color: rgb(182, 182, 182) !important;
}

.down-arrow {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid rgb(182, 182, 182);
    width: 0px;
    height: 00px;
    border-radius: 50px;
    transition: all .2s linear;
}

.down-arrow:hover {
    animation: glow 1s ease-in-out infinite alternate;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.fa-chevron-down {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(182, 182, 182);
    font-size: 20px;
    z-index: -1;
    transition: all .2s linear;
}

.fa-chevron-down:hover {
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 8px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
    }
}

.vertical-line {
    width: 1px;
    height: 8em;
    background-color: rgb(182, 182, 182);
    position: absolute;
    top: 105.6%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

#h1-about {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    width: 100%;
    /* position: absolute;
    top: 125vh;
    left: 50%; 
    transform: translateX(-50%) translateY(-50%); */
    z-index: -1;
}

#p-about {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    /* position: absolute;
    top: 150vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); */
}

#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 10;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 10;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked~ul {
    transform: none;
}

ul, #menu {
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    /* background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */
    z-index: 1 !important;
    border-bottom-right-radius: 30px;
    box-shadow: -7px -7px 20px 0 rgba(219, 219, 219, 0.7), 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

/* #menuToggle input:checked~span {
    background-color: red;
} */

.li-animation {
    /* text-align: center; */
    transition: all .3s linear;
}

.li-animation:hover {
    border-radius: 100px;
    box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    text-align: center;
    width: 200px !important;
}

li {
    width: 100px;
}

.a-animation {
    color: #000 !important;
}

.a-animation:hover {
    color: #000 !important;
}

#h1-service {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    width: 100%;
    position: absolute;
    top: 225vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

.vertical-line-service {
    width: 1px;
    height: 20vh;
    background-color: rgb(182, 182, 182);
    position: absolute;
    top: 209%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}